.password-container {
    display: flex;
    align-items: center;

}

.password-container input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.show-password-button {
    margin-left: 10px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.show-password-button:hover {
    background-color: #0056b3;
}

.error-message p {
    color: #FF6B6B;
    font-size: 14px;
    margin-top: 10px;
}

.switch-button {
    background: none;
    border: none;
    color: #ffffff;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    padding: 10px 0;
}

.switch-button:hover {
    color: #25C4F8;
}
