.game-search-container {
  margin-top: 8%;
  padding: 20px;
  box-sizing: border-box;
}

.search-input {
  font-size: 1.25em;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.search-button {
  font-size: 1.25em;
  padding: 15px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px;
  color: steelblue;
  background-color: white;
  border: 1px solid #ddd;
}

.search-button:hover {
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid rgba(255, 255, 255, 0.623);
  color: white;
}

.game-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-item {
  display: flex;
  color: white;
  gap: 15px;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.game-image {
  width: 100px;
  height: auto;
}

.game-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addGameButton {
  position: absolute;
  left: 85%;
  width: 40px; 
  height: 40px;
  padding: 0;
}

@media (min-width: 768px) {
  .game-results {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .game-item {
    width: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  .game-item {
    width: calc(33.333% - 15px);
  }
}