.page {
  background-image: linear-gradient(to bottom, transparent, #151522),
    url('../assets/CopyFreeBackground.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom,
      #151522,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 70%,
      #151522);
  z-index: 1;
}

.color-divider {
  height: 20px;
  background: linear-gradient(to right,
      #25C4F8, #53E8D4, #FFFDBB, #FE39A4, #8921C2, #25C4F8, #53E8D4);
  width: 95%;
  margin-left: 2.5%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: transparent !important;
  z-index: 1;
  margin: 20%;
}

.body h2 {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  width: 80%;
}

/* Make it so that the image doesn't stretch the full page, then set the background colour to whats on the figma */
.description {
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 22px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.gs_button {
  background-color: #53E8D4 !important;
  color: #8921C2 !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  align-self: flex-start;
  margin-left: 10% !important;
}