.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #1e1e2f;
  color: #ffffff;
  margin-top: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-info .image-container img {
  border-radius: 50%;
  border: 3px solid #ffffff;
  width: 150px;
  height: 150px;
}

.profile-details h1 {
  font-size: 2rem;
  margin: 0;
  color: #ffffff;
}

.profile-details p {
  font-size: 1.5rem;
  color: #b3b3b3;
  margin: 0;
}

.user-games {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-games h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.user-games ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-games li {
  background-color: #282a36;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.2s;
}

.user-games li:hover {
  transform: translateY(-5px);
}

.user-games img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.user-games h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.MuiRating-root {
  margin-bottom: 10px;
}

.user-games p {
  font-size: 0.9rem;
  color: #b3b3b3;
}

.remove-button {
  background-color: #ff5555;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.remove-button:hover {
  background-color: #ff4444;
}

.no-cover {
  height: 100px;
  background-color: #44475a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b3b3b3;
}

@media (min-width: 768px) {
  .user-games li {
      width: calc(33.333% - 20px);
  }
}

@media (min-width: 1024px) {
  .user-games li {
      width: calc(25% - 30px);
  }
}
