.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 95%;
    padding: 15px;
}

.bar h2 {
    margin: 0;
    padding: 5px 0; /* Add some padding for spacing, adjust as needed */
    flex-grow: 1;
    color: white;
    text-align: left;
}

.social_media-links {
    display: flex;
    gap: 20px; /* Adjust the space between icons */
    flex-direction: row;
    margin-left: 15%;
}

.social_media-links .MuiSvgIcon-root { /* Target Material-UI icons */
    color: white;
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 80px;
}
