.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 95%;
    padding: 15px;
}

.bar h2 {
    margin: 0;
    padding: 5px 0;
    flex-grow: 1;
    color: white;
    text-align: left;
}

.social_media-links {
    display: flex;
    gap: 20px;  
    flex-direction: row;
    margin-left: 15%;
}

.social_media-links .MuiSvgIcon-root { 
    color: white;
    cursor: pointer;  
    font-size: 80px;
}
