.add-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;;
    color: #8c52ff;
}

.popup-content {
    color: #8c52ff !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: #121212 !important;
}

.MuiDrawer-paper {
    width: 320px;
    background-color: #121212;
}

.MuiList-root {
    background-color: #121212;
}

.MuiListItemText-root {
    color: #8c52ff;
    font-weight: bold;
}

.MuiListItem-root:hover .MuiListItemText-root {
    color: #e75480;
}

.MuiListItem-root {
    border-radius: 4px;
    transition: all 0.3s ease;
    border: 2px solid #1e1e2f;
}

.MuiListItem-root:hover {
    background-color: #1e1e2f;
    border-color: #8c52ff;
}