.Navbar {
    background-color: transparent !important;
    box-shadow: none !important;
}

.NavbarContainer {
    display: flex;
    justify-content: space-between;
}

.NavbarToolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.LogoContainer {
    display: flex;
    align-items: center;
    margin-right: 10%;
    text-decoration: none;
}

.MenuContainer {
    display: flex;
    align-items: center;
}

.MenuLink {
    margin-left: 30px;
    margin-right: 30px; 
    text-decoration: none;
    color: inherit;
}

.MenuLink h2 {
    margin: 0; 
}

.MenuLink:hover {
    text-decoration: underline; 
}
