/* General navbar styling - Unchanged */
.Navbar {
    background-color: #211F2A !important;
    box-shadow: none !important;
    height: auto; 
    padding: 3px 0;
}

.NavbarContainer {
    display: flex;
    justify-content: space-between;
}

.NavbarToolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.LogoContainer {
    display: flex;
    align-items: center;
    margin-right: 10%;
    text-decoration: none !important;
}

.logo {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
}

.logo img {
    width: 100px;
    height: auto;
}

.logo a, .logo a:visited, .logo a:hover, .logo a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logout {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 30px;
    background-color: transparent;
}

.MenuContainer {
    display: flex;
    align-items: center;
}

.MenuLink {
    display: block;
    padding: 10px 15px;
    color: white; 
    text-decoration: none; 
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.MenuLink:hover {
    color: white;
    text-decoration: underline; 
}

.MenuLink h2 {
    margin: 0; 
}

.ProfileLink {
    position: relative;
    display: inline-block;
}

.ProfileLink h2 {
    cursor: pointer;
    color: white; 
}

.ProfileLink h2 span {
    display: inline-block;
    margin-left: 5px;
}

.DropdownMenu {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #211F2A;
    z-index: 100;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.DropdownMenu li {
    list-style-type: none; 
}

.DropdownMenu .MenuLink {
    display: block;
    padding: 10px 15px;
    color: white; 
    text-decoration: none; 
    background: none;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: left;
}

.DropdownMenu .MenuLink:hover {
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Larger text for better visibility */
    transition: border-color 0.2s ease;
    outline: none;
    width: 350px; /* Wider search bar for desktop */
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
    margin-left: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.search-button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-button:focus {
    outline: none;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
    .MenuContainer {
        display: none;
    }

    .HamburgerIcon {
        display: block;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    .MobileMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #211F2A;
        padding: 20px;
        width: 100%;
        z-index: 100;
    }

    .MobileMenu .MenuLink {
        margin: 10px 0;
        font-size: 18px;
        text-align: center;
    }

    .search-input {
        width: 90%;
        margin: 4%;
    }

    /* Hide the search button on mobile */
    .search-button {
        display: none;
    }
}

/* Hide hamburger on larger screens */
@media screen and (min-width: 768px) {
    .HamburgerIcon {
        display: none;
    }
}
