.Navbar {
    background-color: #211F2A !important;
    box-shadow: none !important;
  
}

.NavbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavbarToolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.LogoContainer {
    display: flex;
    align-items: center;
    margin-right: 5%; 
    text-decoration: none !important;
}

.logo {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 24px; 
}

.logo img {
    width: 80px; 
    height: auto;
}

.logo a, .logo a:visited, .logo a:hover, .logo a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.MenuContainer {
    display: flex;
    align-items: center;
}

.search-container {
    margin-top: 1%;
}
.MenuLink {
    margin-left: 20px; 
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
}

.MenuLink h2 {
    margin: 0;
    font-size: 18px;
}

.MenuLink:hover {
    text-decoration: underline; 
}
