.Navbar {
    background-color: transparent !important;
    box-shadow: none !important;
}

.NavbarContainer {
    display: flex;
    justify-content: space-between;
}

.NavbarToolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.LogoContainer {
    display: flex;
    align-items: center;
    margin-right: 10%;
    text-decoration: none !important;
}

.logo {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 30px;
}

.logo a, .logo a:visited, .logo a:hover, .logo a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logout {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 30px;
    background-color: transparent
}

.MenuContainer {
    display: flex;
    align-items: center;
}

.MenuLink {
    margin-left: 30px;
    margin-right: 30px; 
    text-decoration: none;
    color: inherit;
}

.MenuLink h2 {
    margin: 0; 
}

.MenuLink:hover {
    text-decoration: underline; 
}

.ProfileLink {
    position: relative;
    display: inline-block;
}

.ProfileLink h2 {
    cursor: pointer;
    color: white; 
}

.ProfileLink h2 span {
    display: inline-block;
    margin-left: 5px;
}

.DropdownMenu {
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.529); 
    z-index: 100;
    width: 100%; 
}

.DropdownMenu .DropdownItem {
    display: block; 
    padding: 10px; 
    color: black; 
    text-decoration: none; 
    width: 100%; 
    border-bottom: 1px solid #ccc; 
}

.DropdownMenu .DropdownItem:last-child {
    border-bottom: none; 
}

.DropdownMenu .DropdownItem:hover {
    background-color: #f0f0f0; 
}
